:root {
    --clr-primary: #2cdae0;
    --clr-secondary: #1f90e7;
    --clr-green: hsl(120, 97%, 44%);
    --clr-red: hsl(0, 82%, 50%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-black: hsl(0, 0%, 0%);
}

body {
    background-color: #ffffff;
}


*{
    font-family: 'Ubuntu', sans-serif;
    list-style: none;
    text-decoration: none;
    user-select: none;
    padding: none;
    margin: none;
}

.budget-container{
    position: fixed;
    width: 425px;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: #140e9a;
}

.app-title {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 0.5rem; */
    transform: translateX(-50%) translateY(-50%);
    top: 5%;
    left: 50%;
}

.logo img{
    width: 30px;
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
    margin-top: 0.3rem;
}

.app-title a{
    color: var(--clr-white);
    font-size: 1.2rem;
}


.balance{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-black);
    background-color: rgb(255, 255, 255);
    width: 320px;
    height: 150px;
    border-radius: 20px;
    flex-direction: column;
    gap: 0.5rem;
    position: fixed;
    top: 28%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 2rem;
}

.balance .title {
    font-size: 0.9rem;
    opacity: 60%;
}

.balance small {
    font-size: 1.2rem;
    margin-right: 0.2rem;
}

.account {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.3rem;
    position: fixed;
    left: 50%;
    top:  40%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #241cbf;
    width: 320px;
    height: 150px;
    z-index: -1;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 10px 30px 100px -5px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.account .income {
    background-color: #241cbf;
    width: 160px;
    height: 150px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.account .outcome {
    background-color: #241cbf;
    width: 160px;
    height: 150px;
    border-bottom-right-radius: 20px;    
    border-bottom-left-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -10px, rgba(0, 0, 0, 0.3) 0px 30px 60px -5px;    
    /* z-index: -1; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.income-total {
    color: var(--clr-green);
}

.outcome-total{
    color: var(--clr-red);
}

.outcome-total , .income-total{
    margin-top: 4rem;
    /* font-weight: 300; */
    font-size: 1.2rem;
}

.account .title {
    font-size: 0.8rem;
    /* font-weight: 300; */
    color: rgb(255, 255, 255);
}

.account small {
    font-size: 0.9rem;
    margin-right: 0.1rem;
}

/* .account .income {
    background-color: #000000;
    color: #ffffff;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.5rem solid #2dc428;
    position: fixed;
    left: 6rem;
    top:  32%;

}

.account .outcome {
    background-color: #000000;
    color: #ffffff;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.5rem solid #e51d1d;
    position: fixed;
    right: 6rem;
    top:  32%;
} */


/*/////////////   DASHBOARD    /////////////*/
.budget-dashboard{
    position: fixed;
    width: 100%;
    top: 55%;
}

.toggle{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    /* padding-left: 2rem; */
}

.toggle .tab1, .tab2, .tab3{
    cursor: pointer;
    font-size: 1rem;
    opacity: 0.4;
}

.tab3 {
    background-color: black;
    color: white;
    width: 32px;
    height: 32px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    /* padding: 0.2rem; */
}

.tab1 img {
    width: 30px;
    height: 30px;
    background-origin: var(--clr-white);
    transform: rotate(180deg);
}


.tab2 img {
    width: 30px;
    height: 30px;
}

.active{
    opacity : 1 !important;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);

}

.hide{
    display: none;
}

/* ////////// ALL ///////////// */
#all{
    width: 100%;
    /* height: 339px; */
    position: absolute;
    top: 3rem;
    font-family: 'Ubuntu', sans-serif;
}

#all ul{
    width: 100%;
    height: 285px;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-x: auto;
}

#all li {
    position: relative;
    font-size: 1rem;
}

#all li *{
    display: inline-block;
    height: 35px;
    vertical-align: middle;
}

#all .entry{
    width: auto;
    /* height: auto; */
    padding-left: 1.5rem;
    /* margin-bottom: 0.5rem; */
    word-wrap: break-word;
    font-family: 'Ubuntu', sans-serif;
}

#all #edit{
    visibility: hidden;
}

#all #delete{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 1.5rem;
    cursor: pointer;
    background-image: url('icon/trash-solid.svg');
    background-size: 20px 20px;
    /* filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%); */

}

#all .expense{
    color: var(--clr-red);
}

#all .income {
    color: var(--clr-green);
}

/* //////// EXPENSE ////////// */

input::placeholder {
    color: var(--clr-white);
    opacity: 40%;
    font-weight: 300;
}

.budget-dashboard #expense{
    width: 100%;
    /* height: 339px; */
    position: absolute;
    top: 3rem;
}

.budget-dashboard #expense .input{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: -0.4rem;
    border-top: 1px solid #ffffff41;
    border-bottom: 10px solid #ffffff;
    background-color: #140e9a;
}

#expense .input input#expense-title-input{
    height: 35px;
    width : 100%;
    padding-left: 10px;
    font-size: 1rem;
    /* margin: 5px; */
    /* margin-left: 10px; */
    border-radius: 10px 0 0 10px;
    border: none;
    background-color: #140e9a;
    border-right: 1px solid rgba(255, 255, 255, 0.626);
    color: var(--clr-white);

}

#expense .input input#expense-amount-input{
    height: 35px;
    width : 100%;
    padding-left: 10px;
    font-size: 1rem;
    /* margin: 5px; */
    /* margin-left: -10px; */
    border-radius: 0 10px 10px 0;
    border: none;
    background-color: #140e9a;
    color: var(--clr-white);

}

#expense .add-expense img{
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    padding: 0.3rem;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    border-left: 1px solid rgba(0, 0, 0, 0.379);
}

#expense ul{
    width: 100%;
    height: 285px;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-x: auto;
}

#expense li{
    position: relative;
    font-size: 1rem;
}

#expense li *{
    display: inline-block;
    height: 35px;
    vertical-align: middle;
}

#expense .entry{
    width: 250px;
    /* height: auto; */
    padding-left: 1.5rem;
    word-wrap: break-word;
    color: var(--clr-red);
}

#expense #edit{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 3.5rem;
    cursor: pointer;
    background-image: url("icon/pen-solid.svg");
    background-size: 20px 20px;
}

#expense #delete{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 1.5rem;
    cursor: pointer;
    background-image: url('icon/trash-solid.svg');
    background-size: 20px 20px;
}

/* /////// INCOME //////// */
.budget-dashboard #income{
    width: 100%;
    /* height: 339px; */
    position: absolute;
    top: 3rem;
    color: var(--clr-green);
}

.budget-dashboard #income .input{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: -0.4rem;
    border-top: 1px solid #ffffff41;
    border-bottom: 10px solid #ffffff;
}

 #income .input input#income-title-input{
    height: 35px;
    width : 100%;
    padding-left: 10px;
    font-size: 1rem;
    border-radius: 10px 0 0 10px;
    border: none;
    background-color: #140e9a;
    color: var(--clr-white);

}

 #income .input input#income-amount-input{
    height: 35px;
    width : 100%;
    padding-left: 10px;
    font-size: 1rem;
    border-radius: 0 10px 10px 0;
    border: none;
    background-color: #140e9a;
    color: var(--clr-white);

}

 #income .input .add-income img{
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    padding: 0.3rem;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    border-left: 1px solid rgba(0, 0, 0, 0.379);
    
}

 #income ul{
    width: 100%;
    height: 285px;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-x: auto;
}

 #income ul.list li{
    position: relative;
    font-size: 1rem;
}

 #income ul.list li *{
    display: inline-block;
    height: 35px;
    vertical-align: middle;
}
 
#income .entry{
    width: 250px;
    /* height: auto; */ 
    padding-left: 1.5rem;
    word-wrap: break-word;
}

.budget-dashboard #income ul.list li #edit{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 3.5rem;
    cursor: pointer;
    background-image: url("icon/pen-solid.svg");
    background-size: 20px 20px;
}

.budget-dashboard #income ul.list li #delete{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 1.5rem;
    cursor: pointer;
    background-image: url('icon/trash-solid.svg');
    background-size: 20px 20px;
}