:root {
    --clr-primary: #2cdae0;
    --clr-secondary: #1f90e7;
    --clr-green: hsl(147, 100%, 37%);
    --clr-red: hsl(0, 94%, 59%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-black: hsl(0, 0%, 0%);
}

body {
    background-color: #8586c4;
    font-family: 'Smokum', cursive;
}


*{
    font-family: 'Ubuntu', sans-serif;
    list-style: none;
    text-decoration: none;
    user-select: none;
    padding: none;
    margin: none;
}

.budget-container{
    position: fixed;
    width: 425px;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: #7764b4;
}

.app-title {
    position: fixed;
    display: flex;
    gap: 0.5rem;
    transform: translateX(-50%) translateY(-50%);
    top: 5%;
    left: 50%;
}

.logo {
    width: 25px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.app-title a{
    color: var(--clr-white);
    font-size: 1.2rem;
}

.balance{
    font-size: 1.2rem;
    color: var(--clr-black);
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    background-color: var(--clr-white);
    border-radius: 10%;
    width: 280px;
    height: 170px;
    transform: translateX(-50%) translateY(-50%);
    top:  32%;
    left: 50%;
}

.account{
    font-size: 1.2rem;
    display: flex;
    line-height: 1.7em;
    text-align: center;
    justify-content: center;
    gap: 20rem;
    position: fixed;
    left: 4.4rem;
    top:  35%;
}

/* .account .income {
    background-color: #000000;
    color: #ffffff;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.5rem solid #2dc428;
    position: fixed;
    left: 6rem;
    top:  32%;

}

.account .outcome {
    background-color: #000000;
    color: #ffffff;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.5rem solid #e51d1d;
    position: fixed;
    right: 6rem;
    top:  32%;
} */

.outcome-total{
    color: var(--clr-red);
}

/*/////////////   DASHBOARD    /////////////*/
.budget-dashboard{
    position: fixed;
    width: 100%;
    top: 45%;
    background-color: bl;
}

.toggle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    gap: 1rem;
}

.toggle .tab1, .tab2, .tab3{
    /* display: inline-block; */
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--clr-black);
    opacity: 0.6;
}

.active{
    opacity : 1 !important;
}

.hide{
    display: none;
}

.budget-dashboard input{
    /* MAKE INPUT SELECTABLE */
    -webkit-user-select: auto;      
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}

/* ////////// ALL ///////////// */
.budget-dashboard #all ul{
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 2rem;
    margin-top: 20px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.8rem;
}

li *{
    display: inline-block;
    height: 30px;
    vertical-align: middle;
    font-size: 1rem;

}

.entry{
    display: inline-block;
    align-items: center;
    word-wrap: break-word;
}

.budget-dashboard #all ul.list li #edit{
    visibility: hidden;
}

#delete{
    position: fixed;
    width: 20px;
    height: 20px;
    right: 2rem;
    cursor: pointer;
    background-image: url('icon/trash.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

li.expense{
    color: var(--clr-red);
}

/* //////// EXPENSE ////////// */
#expense{
    width: 100%;
    height: 100%;
}

#expense .input{
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.4rem 0;
    font-size: 1rem;
    border-top: 1px solid var(--clr-black);
    overflow-x: hidden;
    background-color: var(--clr-black);
}

.input input#expense-title-input{
    /* width: 100%; */
    height: 25px;
    border: none;
    font-size: 1rem;
    padding: 0.5rem;
    /* text-align: center; */
    background-color: transparent;
    border-bottom: 1px solid var(--clr-primary);
    color: var(--clr-white);
}

.input input#expense-amount-input{
    /* width: 100%; */
    height: 25px;
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    /* text-align: center; */
    background-color: transparent;
    border-bottom: 1px solid var(--clr-primary);
    color: var(--clr-white);
}

#expense-amount-input::placeholder, #expense-title-input::placeholder {
    color: var(--clr-white);
    opacity: 70%;
}

.add-expense img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#expense ul{
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 2rem;
    margin-top: 20px;
    overflow-x: auto;
    gap: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0.75rem;
}

#expense li{
    font-size: 1rem;
    display: inline-block;
    height: 30px;
    vertical-align: middle;
    font-size: 1rem;
}

#expense .entry{
    width: 250px;
    height: auto;
    padding-left: 20px;
    margin-bottom: 10px;;
    word-wrap: break-word;
    color: var(--clr-red);
}

#edit{
    position: absolute;
    width:20px;
    height: 20px;
    right: 50px;
    cursor: pointer;
    background-image: url("icon/edit.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;

}
#expense ul.list li #delete{
    position: fixed;
    width: 20px;
    height: 20px;
    right: 2rem;
    cursor: pointer;
    background-image: url('icon/trash.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

/* /////// INCOME //////// */
.budget-dashboard #income{
    width: 360px;
    height: 339px;
    position: relative;
}

.budget-dashboard #income .input{
    position: absolute;
    display: block;
    width: 360px;
    bottom: 0;
    border-top: 1px solid #ccc;
}

.budget-dashboard #income .input *{
    display: inline-block;
    vertical-align: middle;
}

.budget-dashboard #income .input input#income-title-input{
    height: 40px;
    width : 150px;
    padding-left: 10px;
    font-size: 1.2em;
    margin: 5px;
    margin-left: 10px;
    border-radius: 10px 0 0 10px;
    border: none;
}

.budget-dashboard #income .input input#income-amount-input{
    height: 40px;
    width : 110px;
    padding-left: 10px;
    font-size: 1.2em;
    margin: 5px;
    margin-left: -10px;
    border-radius: 0 10px 10px 0;
    border: none;
}

.budget-dashboard #income .input .add-income img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#income ul{
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 2rem;
    margin-top: 20px;
    overflow-x: auto;
    gap: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0.75rem;
}

.budget-dashboard #income ul.list li *{
    display: inline-block;
    height: 30px;
    vertical-align: middle;
    font-size: 1rem;
}

.budget-dashboard #income ul.list li .entry{
    width:250px;
    height: auto;
    padding-left: 20px;
    margin-bottom: 10px;;
    word-wrap: break-word;
}

.budget-dashboard #income ul.list li #edit{
    position: absolute;
    width:20px;
    height: 20px;
    right: 50px;
    cursor: pointer;
    background-image: url("icon/edit.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.budget-dashboard #income ul.list li #delete{
    position: fixed;
    width: 20px;
    height: 20px;
    right: 2rem;
    cursor: pointer;
    background-image: url('icon/trash.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
}