body{
    background-color: #020304;
    font-family: 'Quicksand', sans-serif;
}

*{
    font-family: 'Quicksand', sans-serif;    
    list-style: none;
    text-decoration: none;
    user-select: none;
    padding: none;
    margin: none;
}

.budget-container{
    position: fixed;
    width: 600px;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #CACDCE;
}

.app-title {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 0.4rem;
    background-color: #020304;
    width: 30%;
    height: 60%;
    transform: translateX(-50%) translateY(-50%);
    top: 4%;
    left: 50%;
}

.logo {
    width: 25px;
    filter: invert(95%) sepia(6%) saturate(86%) hue-rotate(149deg) brightness(87%) contrast(89%);
}

.app-title a{
    color: #CACDCE;
    font-weight: 500;
    font-size: 1.2rem;
}

.budget-header .balance{
    font-size: 1.2rem;
    color: #CACDCE;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 0.4rem;
    background-color: #020304;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    transform: translateX(-50%) translateY(-50%);
    top:  36%;
    left: 50%;
    border: 0.6rem solid #CACDCE;
}

.budget-header .account{
    font-size: 1.2rem;
    font-weight: 500;
    position: fixed;
    display: flex;
    line-height: 1.7em;
    text-align: center;
    justify-content: center;
    gap: 25rem;
    top:  35%;
    left: 1.6rem;
}

.budget-header .account .outcome .outcome-total{
    color: #f0624d;
}

/*/////////////   DASHBOARD    /////////////*/
.budget-dashboard{
    /* display: block; */
    width: 360px;
    height: 470px;
    background-color: #FFF;
    margin-top: 35px;
    border-radius: 30px 30px 0 0;
}

.budget-dashboard .dash-title{
    display: inline-block;
    color: #1a0034;
    font-size: 1.7em;
    margin-left: 20px;
    margin-top: 30px;
}

.toggle{
    display: block;
    margin-top: 30px;
    margin-left: 20px;
}

.toggle .tab1, .tab2, .tab3{
    display: inline-block;
    cursor: pointer;
    font-size: 1.1em;
    color: #1a0034;
    opacity: 0.4;
}

.toggle .tab2, .tab3{
    margin-left: 10px;
}

.active{
    opacity : 1 !important;
}

.hide{
    display: none;
}

.budget-dashboard input{
    /* MAKE INPUT SELECTABLE */
    -webkit-user-select: auto;      
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}

/* ////////// ALL ///////////// */
.budget-dashboard #all{
    width: 360px;
    height: 339px;
    position: relative;
}
.budget-dashboard #all ul{
    width: 360px;
    height: 285px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top:20px;
    overflow-x: auto;
}

.budget-dashboard #all ul.list li{
    position: relative;
    font-size: 1em;
}

.budget-dashboard #all ul.list li *{
    display: inline-block;
    height: 30px;
    vertical-align: middle;
}

.budget-dashboard #all ul.list li .entry{
    width:250px;
    height: auto;
    padding-left: 20px;
    margin-bottom: 10px;;
    word-wrap: break-word;
}

.budget-dashboard #all ul.list li #edit{
    visibility: hidden;
}

.budget-dashboard #all ul.list li #delete{
    position: absolute;
    width:20px;
    height: 20px;
    right: 20px;
    cursor: pointer;
    background-image: url('icon/trash.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.budget-dashboard #all ul.list li.income{

}
.budget-dashboard #all ul.list li.expense{
    color: #f0624d;
}

/* //////// EXPENSE ////////// */
.budget-dashboard #expense{
    width: 360px;
    height: 339px;
    position: relative;
}

.budget-dashboard #expense .input{
    position: absolute;
    display: block;
    width: 360px;
    bottom: 0;
    border-top: 1px solid #ccc;
}

.budget-dashboard #expense .input *{
    display: inline-block;
    vertical-align: middle;
}

.budget-dashboard #expense .input input#expense-title-input{
    height: 40px;
    width : 150px;
    padding-left: 10px;
    font-size: 1.2em;
    margin: 5px;
    margin-left: 10px;
    border-radius: 10px 0 0 10px;
    border: none;
}

.budget-dashboard #expense .input input#expense-amount-input{
    height: 40px;
    width : 110px;
    padding-left: 10px;
    font-size: 1.2em;
    margin: 5px;
    margin-left: -10px;
    border-radius: 0 10px 10px 0;
    border: none;
}

.budget-dashboard #expense .input .add-expense img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.budget-dashboard #expense ul{
    width: 360px;
    height: 285px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top:20px;
    overflow-x: auto;
}

.budget-dashboard #expense ul.list li{
    position: relative;
    font-size: 1em;
}

.budget-dashboard #expense ul.list li *{
    display: inline-block;
    height: 30px;
    vertical-align: middle;
}

.budget-dashboard #expense ul.list li .entry{
    width:250px;
    height: auto;
    padding-left: 20px;
    margin-bottom: 10px;;
    word-wrap: break-word;
    color: #f0624d;
}

.budget-dashboard #expense ul.list li #edit{
    position: absolute;
    width:20px;
    height: 20px;
    right: 50px;
    cursor: pointer;
    background-image: url("icon/edit.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.budget-dashboard #expense ul.list li #delete{
    position: absolute;
    width:20px;
    height: 20px;
    right: 20px;
    cursor: pointer;
    background-image: url('icon/trash.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

/* /////// INCOME //////// */
.budget-dashboard #income{
    width: 360px;
    height: 339px;
    position: relative;
}

.budget-dashboard #income .input{
    position: absolute;
    display: block;
    width: 360px;
    bottom: 0;
    border-top: 1px solid #ccc;
}

.budget-dashboard #income .input *{
    display: inline-block;
    vertical-align: middle;
}

.budget-dashboard #income .input input#income-title-input{
    height: 40px;
    width : 150px;
    padding-left: 10px;
    font-size: 1.2em;
    margin: 5px;
    margin-left: 10px;
    border-radius: 10px 0 0 10px;
    border: none;
}

.budget-dashboard #income .input input#income-amount-input{
    height: 40px;
    width : 110px;
    padding-left: 10px;
    font-size: 1.2em;
    margin: 5px;
    margin-left: -10px;
    border-radius: 0 10px 10px 0;
    border: none;
}

.budget-dashboard #income .input .add-income img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.budget-dashboard #income ul{
    width: 360px;
    height: 285px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top:20px;
    overflow-x: auto;
}

.budget-dashboard #income ul.list li{
    position: relative;
    font-size: 1em;
}

.budget-dashboard #income ul.list li *{
    display: inline-block;
    height: 30px;
    vertical-align: middle;
}

.budget-dashboard #income ul.list li .entry{
    width:250px;
    height: auto;
    padding-left: 20px;
    margin-bottom: 10px;;
    word-wrap: break-word;
}

.budget-dashboard #income ul.list li #edit{
    position: absolute;
    width:20px;
    height: 20px;
    right: 50px;
    cursor: pointer;
    background-image: url("icon/edit.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.budget-dashboard #income ul.list li #delete{
    position: absolute;
    width:20px;
    height: 20px;
    right: 20px;
    cursor: pointer;
    background-image: url('icon/trash.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
}